<div class="container profileLessPadding">
  <h2>PROFILE</h2>

  <!-- Email and Level -->
  <div class="row mb-1">
    <div class="col padding-user">
      <h5><%= @user.username %></h5>
    </div>
    <div class="col padding-lv">
      <h6>Lv.<%= @user.level %></h6>
    </div>
    <div class="w-100"></div>
  </div>

  <!-- Profile Image -->
  <div class="row">
    <div class="col-7 d-flex justify-content-center">
      <div class="profile-container">
        <%= image_tag "profile-icon.png", class: "profile-image" %>
        <%= image_tag "avatar-frame.png", class: "big-frame" %>
      </div>
    </div>


    <!-- Stats and Class, rajouter la bonne classe en fonction des stats -->
  <div class="col-5 d-flex flex-column align-items-start padding-fixed">
      <div class="d-flex justify-content-between w-100 pb-1 align-items-end border-bottom">
        <% if @user.roles.present? && @user.roles != 'None' %>
          <h6><%= @user.roles %></h6> <!-- Afficher le rôle actuel du joueur -->
          <%= image_tag "icons/class/#{@user.roles.downcase}.png", class: "icons mb-1" %>
        <% else %>
          <h6>Starter</h6>
          <%= image_tag "icons/class/noob.png", class: "icons mb-1" %>
        <% end %>
      </div>
    <div class="d-flex justify-content-between w-100 mt-3">
      <h6>INT</h6>
      <h6><%= @user.int %></h6> <!-- Remplacez 78 par @user.int -->
    </div>
    <div class="d-flex justify-content-between w-100">
      <h6>MANA</h6>
      <h6><%= @user.mana %></h6> <!-- Remplacez 99 par @user.mana -->
    </div>
    <div class="d-flex justify-content-between w-100">
      <h6>DEX</h6>
      <h6><%= @user.dex %></h6> <!-- Remplacez 54 par @user.dex -->
    </div>
    <div class="d-flex justify-content-between w-100">
      <h6>STR</h6>
      <h6><%= @user.str %></h6> <!-- Remplacez 76 par @user.str -->
    </div>
    <div class="d-flex justify-content-between w-100">
      <h6>CHA</h6>
      <h6><%= @user.cha %></h6> <!-- Remplacez 90 par @user.cha -->
    </div>
  </div>
</div>
</div>

<div class="container" style="width: 100%; max-width: 390px;">
    <!-- Experience Bar -->
    <div class="mt-4">
      <div class="progress" style="height: 30px;">
        <div class="progress-bar" role="progressbar" style="width: <%= @user.experience_percentage %>%;" aria-valuenow="<%= @user.experience_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
        <h6 class="text-center">Exp.</h6>
      </div>
      <div class="d-flex justify-content-between">
        <h6 class="text-start pt-3">To Next Lv.</h6>
        <h6 class="pt-3"><%= @user.experience_to_next_level %> XP</h6> <!-- Afficher l'XP manquante -->
      </div>
    </div>


    <!-- tabs -->
    <div data-controller="tabs" data-tabs-default-tab-value="activity" data-tabs-active-class="active">
      <div class="tabs pt-3 pb-3">
        <button id="activity-btn" class="tab-link" data-action="click->tabs#select" data-tabs-target="btn">Activity</button>
        <button id="stats-btn" class="tab-link" data-action="click->tabs#select" data-tabs-target="btn">Stats</button>
      </div>

           <div id="activity" class="tab-content" data-tabs-target="tab">
        <div>
          <h5>MEMO</h5>
          <div class="background-color">
            <div class="pixel-corners mb-4">
              <div class="margins p-2">
                <p>Mission <br>
                <hr> </p>
                <!--<p> <%= @user.memo %> </p>-->
                <p>Complete at least 5 quests this week !</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h5>STATUS</h5>
          <div class="background-color">
            <div class="pixel-corners mb-4">
              <div class="margins p-2">
                <p>Ongoing Quests</p>
                <hr>
                <p> <%= @user.status %> </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="stats" class="tab-content" data-tabs-target="tab">
        <h5>CHART</h5>
          <div class="pixel-corners">
            <div class="margins p-2">
            <!-- -->
            </div>
          </div>
      </div>
    </div>

  </div>
</div>
