<div class="container" style="width: 100%; max-width: 390px;">
  <h2>PROFILE</h2>

  <!-- Email and Level -->
  <div class="row mb-1">
    <div class="col padding-user">
      <h5><%= @user.username %></h5>
    </div>
    <div class="col padding-lv">
      <h6>Lv.<%= @user.level %></h6>
    </div>
    <div class="w-100"></div>
  </div>

  <!-- Profile Image -->
  <div class="row">
    <div class="col-7 d-flex justify-content-center">
      <%= image_tag "profile-icon.png", class: "profile-image", style: "width: 90%;" %>
    </div>

    <!-- Stats and Class, rajouter la bonne classe en fonction des stats -->
    <div class="col-5 d-flex flex-column align-items-start padding-fixed">
      <div class="d-flex justify-content-between w-100 pb-1 align-items-end border-bottom">
        <h6>Mage</h6>
        <%= image_tag "icons/mage.png", class: "icons" %>
      </div>
      <div class="d-flex justify-content-between w-100 mt-3">
        <h6>INT</h6>
        <h6>78</h6> <!-- Remplacer 78 par @user.int -->
      </div>
      <div class="d-flex justify-content-between w-100">
        <h6>MANA</h6>
        <h6>99</h6> <!-- Remplacer 99 par @user.mana -->
      </div>
      <div class="d-flex justify-content-between w-100">
        <h6>DEX</h6>
        <h6>54</h6> <!-- Remplacer 54 par @user.dex -->
      </div>
      <div class="d-flex justify-content-between w-100">
        <h6>STR</h6>
        <h6>76</h6> <!-- Remplacer 76 par @user.str -->
      </div>
      <div class="d-flex justify-content-between w-100">
        <h6>CHA</h6>
        <h6>90</h6> <!-- Remplacer 90 par @user.cha -->
      </div>
    </div>
  </div>

  <!-- Experience Bar -->
  <div class="mt-4">
    <div class="progress" style="height: 20px;">
      <div class="progress-bar" role="progressbar" style="width: <%= @user.experience_percentage %>%;" aria-valuenow="<%= @user.experience_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
        <h6 class="text-center">Exp.</h6>
    </div>
    <div class="d-flex justify-content-between">
      <h6 class="text-start pt-3">To Next Lv.</h6>
      <h6 class="pt-3"><%= @user.experience %></h6>
    </div>
  </div>

    <!-- tabs -->
    <div data-controller="tabs" data-tabs-default-tab-value="activity" data-tabs-active-class="active">
      <div class="tabs">
        <button id="activity-btn" class="tab-link" data-action="click->tabs#select" data-tabs-target="btn">Activity</button>
        <button id="stats-btn" class="tab-link" data-action="click->tabs#select" data-tabs-target="btn">Stats</button>
      </div>

           <div id="activity" class="tab-content" data-tabs-target="tab">
        <div>
          <h5>MEMO</h5>
          <div class="background-color bg-light">
            <div class="pixel-corners mb-4">
              <div class="margins p-2">
                <p>Main task <br>
                <hr> </p>
                <!--<p> <%= @user.memo %> </p>-->
                <p>Complete at least 5 quests this week !</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h5>STATUS</h5>
          <div class="background-color bg-light">
            <div class="pixel-corners mb-4">
              <div class="margins p-2">
                <p> _ _ _ _ _ _ _ _ _ _ _ </p>
                <hr>
                <p> <%= @user.status %> </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="stats" class="tab-content" data-tabs-target="tab">
        <h5>CHART</h5>
          <div class="pixel-corners">
            <div class="margins p-2">
            <!-- -->
            </div>
          </div>
      </div>
    </div>

  </div>
</div>
