<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILE</title>
</head>
<body>
  <div class="container">
    <h2 class="text-center">PROFILE</h2>

    <!-- Email and Level -->
    <div class="d-flex justify-content-around mb-3">
      <h5>CopyCat</h5>
      <h6>Lv.<%= @user.level %></h6>
    </div>

    <!-- Class and Stats -->
    <div class="col">
      <div class="col-md-6 d-flex flex-row ">
        <%= image_tag "profile-icon.png", class: "profile-image" %>
        <h6>Class:</h6>
        <%= image_tag "icons/mage.png", class: "icons" %>
      </div>
      <div class="col-md-6">
        <ul>
          <li><h6>INT:</h6>78</li> <!--  @user.int -->
          <li><h6>MANA:</h6>68</li> <!-- @user.int -->
          <li><h6>DEX:</h6>45</li> <!-- @user.int -->
          <li><h6>STR:</h6>50</li> <!-- @user.int -->
          <li><h6>CHA:</h6>90</li> <!--  @user.int -->
        </ul>
      </div>
    </div>

    <!-- Experience Bar -->
    <div class="mt-4">
      <h2 class="text-center">Experience Bar</h2>
      <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: <%= @user.experience_percentage %>%;" aria-valuenow="<%= @user.experience_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h5 class="text-center"><%= @user.experience %> To Next Lv.</h5>
    </div>
  </div>

      <!-------------------------------------Tabs ---------------------------->
      <div>
          <button type="button" onclick="showTab('activity')">Activity</button>
          <button type="button" onclick="showTab('stats')">Stats</button>
      </div>

      <!------------------------- Tab Contents --------------------------->
      <div id="activity" class="tab-content">

        <div>
            <h3>Memo</h3>
            <p><%= @user.memo %></p>
        </div>
        <div>
            <h3>Status</h3>
            <p><%= @user.status %></p>
        </div>
      </div>

      <div id="stats" class="tab-content" style="display:none;">
          <h2>CHART</h2>
      </div>
    </div>
 <!-------------------------------JAVASCRIPT ONGLET----------------------->
    <script>
        function showTab(tabId) {
            document.querySelectorAll('.tab-content').forEach(content => {
                content.style.display = 'none';
            });

            document.getElementById(tabId).style.display = 'block';
        }
        showTab('activity');
    </script>
</body>
</html>
