<%= simple_form_for @task do |form| %>
  <div>
    <%= form.input :title, label: "Set a Title", required: true %>
  </div>

  <div>
    <%= form.input :description, label: "Add a Description", required: true %>
  </div>

  <div>
    <%= form.association :sub_category, label: "Select Category", prompt: 'Choose a category', required: true %>
  </div>

  <div>
    <%= form.input :time, as: :string, input_html: { class: 'time-input', placeholder: 'HH:MM', required: true } %>
  </div>

  <div>
    <%= form.input :urgence, collection: ['low', 'medium', 'high'], as: :radio_buttons, label: "Choose Priority" %>
  </div>

  <div>
    <%= form.button :submit, 'Update Quest' %>
    <%= link_to 'Return to Quest List', tasks_path, class: 'button-return' %>
    <%= link_to 'Delete Quest', task_path(@task), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this Quest?' }, class: 'button-delete' %>
  </div>
<% end %>
