<!----------------Title and return link---------------->
<div class="container lessPadding">
  <div class="d-flex align-items-center justify-content-between">
    <%= link_to dashboard_path, class: 'button-return' do %>
      <%= image_tag 'icons/return.svg', alt: 'Return'%>
    <% end %>
    <div class="flex-grow-1 text-center">
      <h2 class="quest-margin">QUESTS</h2>
    </div>
    <!-- An empty div to take the same space as the link to ensure the title is centered -->
    <div style="width: 24px;"></div>
  </div>
</div>

<div class="tabs">
  <%= link_to 'Ongoing', tasks_path(status: 'in_progress'), class: "tab-link #{params[:status] == 'in_progress' ? 'active' : ''}" %>
  <%= link_to 'New', tasks_path(status: 'not_started'), class: "tab-link #{params[:status] == 'not_started' ? 'active' : ''}" %>
</div>



<div class="container">
  <% if params[:status] == 'not_started' %>
    <%= link_to new_task_path, class: 'add-quest-link' do %>
      <%= image_tag 'icons/Add.png', alt: 'Add Icon' %>
      Add Custom Quest
    <% end %>
  <% end %>

  <% if @tasks.any? %>
    <div class="tasks-list">
      <% @tasks.each do |task| %>
        <div class="task-item mb-2">
          <div class="p-1">
            <%= link_to task_path(task), class: 'text-decoration-none' do %>
              <div class="pixel-corners mb-1">
                <div class="p-3 colored">
                  <h3 class="mb-2 title-quest"><%= task.title %></h3>
                  <h4 class="mb-1 body-quest">Priority:
                    <% if task.urgence == 'high' %>
                      <%= image_tag 'icons/priority/red-book.png', alt: 'High Priority', class: 'priority-book pb-2' %>
                    <% elsif task.urgence == 'medium' %>
                      <%= image_tag 'icons/priority/yellow-book.png', alt: 'Medium Priority', class: 'priority-book pb-2' %>
                    <% elsif task.urgence == 'low' %>
                      <%= image_tag 'icons/priority/green-book.png', alt: 'Low Priority', class: 'priority-book pb-2' %>
                    <% else %>
                      <%= task.urgence %>
                    <% end %>
                  </h4>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p><%= params[:status] == 'not_started' ? 'No new quests found.' : 'No ongoing quests found.' %></p>
  <% end %>
</div>
