<div data-controller="progress">
  <!----------------Title and return link---------------->
  <div class="container lessPadding">
    <div class="d-flex align-items-center justify-content-between">
      <%= link_to tasks_path, class: 'button-return' do %>
        <%= image_tag 'icons/return.svg', alt: 'Return' %>
      <% end %>
      <div class="flex-grow-1 text-center">
        <h2 class="mb-0"><%= @task.title %></h2>
      </div>
      <!-- An empty div to take the same space as the link to ensure the title is centered -->
      <div style="width: 24px;"></div>
      <%= link_to edit_task_path(@task), class: 'button-edit' do %>
        <%= image_tag 'icons/edit.svg', alt: 'Edit' %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <h5 class="desc-title">
     <%= image_tag 'icons/new-show/category.png', class:"icons mb-2" %> Category</h5>
    <p class="desc-body text-wrap"><%= @task.sub_category.category.title %></p>

    <h5 class="desc-title"> <%= image_tag 'icons/mission.png', class:"icons mb-2" %> Description</h5>
    <p class="desc-body text-wrap"><%= @task.description %></p>

    <h5 class="desc-title"> <%= image_tag 'icons/new-show/time.png', class:"icons mb-2" %> Estimated Duration</h5>
    <p class="desc-body text-wrap"><%= @task.time.strftime('%I:%M') %></p>

    <h5 class="desc-title"> <%= image_tag 'icons/new-show/priority.png', class:"icons mb-2" %> Priority</h5>
    <p class="desc-body text-wrap"><%= @task.urgence %></p>

    <h5 class="desc-title"> <%= image_tag 'icons/new-show/chest.png', class:"icons mb-1" %> Rewards</h5>
    <p class="desc-reward text-wrap">+ <%= @task.xp_reward %> XP</p>
    <% @task.category_rewards.each do |reward| %>
      <p class="desc-reward pb-3 text-wrap">+ 1 <%= reward %></p>
    <% end %>

    <div class="pixel-corners">
      <div class="p-3 colored">
        <h5 class="desc-title pt-3"><%= image_tag 'icons/new-show/map.png', class:"icons mb-1" %> Checkpoints</h5>

        <%= simple_form_for @task, url: update_steps_task_path(@task), method: :patch, html: { local: true } do |form| %>
          <% if @task.steps.any? %>
            <div id="steps-list">
              <div class="mb-2" data-progress-target="checkboxes">
                <hr>
                <% @task.steps.each do |step| %>
                  <div class="step-item d-flex align-items-center mb-2 text-wrap" data-step-id="<%= step.id %>">
                    <%= form.check_box :completed, checked: step.completed, name: "task[steps_attributes][#{step.id}][completed]", class: 'id me-2 large-checkbox', data: { type: step.completed ? "true" : "false", action: 'change->progress#updateProgressBar', progress_target: "checkbox" } %>
                    <p class="desc-steps large-text mb-0"><%= step.content %></p>
                    <%= form.hidden_field :id, value: step.id, name: "task[steps_attributes][#{step.id}][id]" %>
                  </div>
                <% end %>
                <br>
                <div class="pixel-corners-container">
                  <div class="pixel-corners-2">
                    <div class="progress" data-progress-target="bar" style="height: 30px;">
                      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <p>No steps available for this task.</p>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="pt-1">
      <div class="pixel-corners-3 margin-button">
        <h2 class="button-style bgBlue d-flex justify-content-center">
          <%= button_to "Accept", accept_task_path(@task), method: :patch, class: 'unstyled-button text-white', style: 'font-size: smaller;' %>
        </h2>
      </div>
    </div>


    <div class="pixel-corners-4 margin-button">
      <h2 class="button-style bgGreen d-flex justify-content-center">
        <%= button_to 'Complete Task', completed_task_path(@task), method: :patch, class: 'unstyled-button text-white', style: 'font-size: smaller;' %>
      </h2>
    </div>


    <div id="completion-popup" class="popup hidden" data-progress-target="popup">
      <div class="popup-content">
        <span id="close-popup" class="close" data-action="click->progress#closePopup">&times;</span>
        <h2>Quest Completed!</h2>
        <p>Congratulations! You have completed this task.</p>
        <h5 class="desc-title">Rewards</h5>
        <p class="desc-reward">+ <%= @task.xp_reward %> XP</p>
        <% @task.category_rewards.each do |reward| %>
          <p class="desc-reward">+ 1 <%= reward %></p>
        <% end %>
        <form id="validate-rewards-form" action="/rewards/validate" method="post" data-action="submit->progress#handleRewardValidation">
          <input type="hidden" name="xp_reward" value="<%= @task.xp_reward %>">
          <% @task.category_rewards.each do |reward| %>
            <input type="hidden" name="rewards[]" value="+ 1 <%= reward %>">
            <input type="hidden" name="task[]" value="<%= @task.id %>">
          <% end %>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>
