<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
       <!--<%= link_to "#", class: "navbar-brand"  do %>
          <%= image_tag "profile-icon.png", class: "avatar" %>
      <% end %>-->

      <%= link_to "#", class: "navbar-brand"  do %>
        <div class="avatar-container">
          <%= image_tag "profile-icon.png", class: "avatar" %>
          <%= image_tag "profile-frame.png", class: "avatar-frame" %>
        </div>
      <% end %>

      <div class="d-flex flex-column ms-2">
        <%= link_to "Username", "#", class: "nav-link" %>
        <%= link_to "LV.", "#", class: "nav-link" %>
      </div>
    </div>

    <% if user_signed_in? %>
        <button class="btn" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag 'icons/Kebab_Menu_Vertical.svg', alt: "dropdown menu" %>
        </button>
        <div class="dropdown-menu dropdown-menu-end full-screen-dropdown" aria-labelledby="navbarDropdown">
          <%= link_to "Menu", "#", class: "dropdown-item mb-4" %>
          <%= link_to "Profile", "#", class: "dropdown-item" %>
          <%= link_to "Achievements", "#", class: "dropdown-item" %>
          <%= link_to "Quests", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>

  </div>
</div>
