<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
       <!--<%= link_to "#", class: "navbar-brand"  do %>
          <%= image_tag "profile-icon.png", class: "avatar" %>
      <% end %>-->

     <%= link_to "#", class: "navbar-brand"  do %>
        <div class="avatar-container">
          <%= image_tag "profile-icon.png", class: "avatar" %>
          <%= image_tag "profile-frame.png", class: "avatar-frame" %>
        </div>
      <% end %>

      <div class="d-flex flex-column ms-2">

        <% if user_signed_in? %>
          <%= link_to @user.username, dashboard_path, class: "nav-link" %>
          <%= link_to "Lv. #{current_user.level}", "#", class: "nav-link" %>
        <% end %>

      </div>
    </div>

    <% if user_signed_in? %>
        <button class="btn" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag 'icons/Kebab_Menu_Vertical.svg', alt: "dropdown menu" %>
        </button>
        <div class="dropdown-menu dropdown-menu-end full-screen-dropdown" aria-labelledby="navbarDropdown">
            <h5 class="menu-font"> <%= link_to "Menu", root_path, class: "dropdown-item mb-5 mt-5" %></h5>
          <div class="menu-line-height">
            <h6 class="menu-font"> <%= link_to "Profile", dashboard_path, class: "dropdown-item" %></h6>
            <h6 class="menu-font"> <%= link_to "Achievements", achievements_path, class: "dropdown-item" %></h6>
            <h6 class="menu-font"> <%= link_to "Quests", tasks_path, class: "dropdown-item" %></h6>

            <h6 class="menu-font"> <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></h6>
          </div>
        </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>

  </div>
</div>
