<body onclick="playAudio()">
  <!--<div class="home">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="text-center">
          <h1>TO-DO <br> QUEST</h1>
          <div class="select">
            <a href="#" class="eightbit-btn">new game</a><hr/>
            <%= link_to "continue", dashboard_path, class:"eightbit-btn eightbit-btn--proceed", id:"continue-btn" %>
          </div>
      </div>
    </div>
    <footer class="footer">
        <div class="container text-center">
            <p>&copy;2024 All rights reserved.</p>
        </div>
    </footer>
  </div>-->



<div class="home">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="text-center">
      <h1>TO-DO <br> QUEST</h1>
      <div class="border-bottom border-3"></div> <!-- Ajout de la bordure -->
      <div class="select d-flex flex-column align-items-center">
        <div class="pixel-corners margin-button-home">
          <h2 class="button-style-home colored">
            <%= link_to 'New Game', new_user_registration_path, class: 'button-edit-home p-5' %>
          </h2>
        </div>

        <div class="pixel-corners margin-button-home">
          <h2 class="button-style-home colored">
            <%= link_to 'Continue', dashboard_path, class: 'button-edit-home p-5', id:"continue-btn" %>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container text-center">
      <p>&copy;2024 All rights reserved.</p>
    </div>
  </footer>
</div>












  <audio id="audio" src="<%= asset_path('game-start.mp3') %>" preload="auto"></audio>
  <audio id="background-audio" src="<%= asset_path("theme.mp3") %>" loop autoplay></audio>

</body>
<script>
  document.getElementById('continue-btn').addEventListener('click', function(event) {
    event.preventDefault();
    var audio = document.getElementById('audio');
    audio.play();

    // Délai de 1s avant la navigation vers le dashboard
    setTimeout(function() {
      window.location.href = "<%= dashboard_path %>";
    }, 1000);
  });

  var audioPlayed = false; // Pour s'assurer que l'audio ne se joue qu'une fois
function playAudio() {
    if (!audioPlayed) {
        var player = document.getElementById('background-audio');
        player.play().catch(error => console.error("Erreur lors de la lecture : " + error));
        audioPlayed = true; // Marquer comme joué
    }
}

</script>
