 <!----------------Title and return link---------------->
  <div class="container lessPadding">
    <div class="d-flex align-items-center justify-content-between">
      <%= link_to dashboard_path, class: 'button-return mb-2' do %>
        <%= image_tag 'icons/return.svg', alt: 'Return'%>
      <% end %>
      <div class="flex-grow-1 text-center">
        <h2>Achievements</h2>
      </div>
      <!-- An empty div to take the same space as the link to ensure the title is centered -->
      <div style="width: 10px;"></div>
    </div>
  </div>

<!--Je n ai pas reussi-->
<div class="container">
  <h5 class="title-achievement">Total: <%= @achievements.count %> / 200</h5>
  <h5 class="title-achievement">Progress: <%= (@achievements.count / 10.0 * 10).to_i %>%</h5>

  <% if @achievements.any? %>
    <div class="tasks-list">
      <% @achievements.each do |achievement| %>
        <div class="task-item mb-2">
          <div class="p-1">
            <%= link_to achievement_path(achievement), class: 'text-decoration-none' do %>
              <div class="pixel-corners mb-1">
                <div class="p-3 colored">
                  <h3 class="mb-2 title-quest"><%= achievement.title.upcase %></h3>
                  <h4 class="mb-1 body-quest"><%= achievement.description %> 📜 ✔️</h4>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No achievements found.</p>
  <% end %>
</div>
